openapi: 3.1.0
info:
  title: chseets Public API
  version: "2025-10-21"
  description: |
    Read-only API for accessing published cheat sheet metadata and content.
    All responses are JSON. Authentication is not required for public endpoints.
servers:
  - url: https://chseets.com/api
    description: Production API

paths:
  /sheets:
    get:
      summary: List all sheets
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number (default 1)
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Results per page
      responses:
        "200":
          description: List of sheets
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SheetSummary"

  /sheets/{slug}:
    get:
      summary: Retrieve one sheet by slug
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full sheet data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SheetFull"
        "404":
          description: Sheet not found

  /search:
    post:
      summary: Search sheets by text or tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  example: "linux network"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SheetSummary"
        "400":
          description: Invalid query

  /meta:
    get:
      summary: API metadata and version info
      responses:
        "200":
          description: Version data
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  commit:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

components:
  schemas:
    SheetSummary:
      type: object
      properties:
        title:
          type: string
        slug:
          type: string
        language:
          type: string
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        tags:
          type: array
          items: { type: string }
        summary:
          type: string
        updated_at:
          type: string
          format: date
    SheetFull:
      allOf:
        - $ref: "#/components/schemas/SheetSummary"
        - type: object
          properties:
            content:
              type: string
            version:
              type: string
            created_at:
              type: string
              format: date
            references:
              type: array
              items:
                type: string
