name: docs-lint

on:
  pull_request:
    paths:
      - "**/*.md"
      - ".markdownlint*"
  push:
    branches: [ "main" ]
    paths:
      - "**/*.md"
      - ".markdownlint*"

jobs:
  markdownlint:
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: |
            **/*.md
          config: .markdownlint.json
